

.azeret-mono-style {
  font-family: Azeret Mono, monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* Shared style  */
.common-description{
    color: #737783;
    font-weight: 400;
    font-size: 16px;
}
/* header style start */
.header-part-1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header-part-1>h4 {
    font-weight: 800;
    font-size: 28px;
    margin: 5px;
}

.header-part-1>button {
    font-weight: 600;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 5px;
    border: 1px solod #cdcdcd;
}

.header-main-section {
    background-image: url(../images/Hero-bg.png);
}

.img-and-content-container {
    margin: 45px 241px;
    justify-content: center;
    padding: 26px;
}

    


.img-and-content-container>img {
  display: block;
  margin: auto;
  width: 240px;
  height: 240px;
}
    
.img-and-content-container>h2 {
    font-weight: 800px;
    font-size: 48px;
    text-align: center;
    margin: 5px;
}

.img-and-content-container button {
    font-weight: 600;
    font-size: 20px;
    background-color: #0d1321;
    border-radius: 5px;
    padding: 10px 5px;
    color: #ffffff;
    margin: auto;
    display: block;
    
}


/* main style part start */

.heading-of-coding-purpose-description {
    background-color: #fafafb;
    border-radius: 10px;
    margin: 65px 101px;
    padding: 60px 50px;

}

.webdev-purpose-block {
    background-image: linear-gradient(to right, #ffffff, #fafafb) ;
    margin-bottom: 20px;
      border-radius: 10px;
      padding: 35px 30px;
}

.first-purpose, .second-purpose, .third-purpose {
    display: flex;
    gap: 200px;  
}

.header-p-1, .header-p-2, .header-p-3 {
    width: 50%;
} 

.webdev-purpose-block button {
    border: 1px solid #d0d2d4;
    background-color: #fcfcfd;
    padding: 5px;
}
.main-heading-purpose {
    margin: 30px;

}

.main-heading-purpose h2 {
    width: 60%;
    margin: auto;
    text-align: center;
}
.main-heading-purpose p {
    width: 80%;
    margin: auto;
    text-align: center;
}


.middle-button {
    display: block;
    margin: auto;
}

/* main style part end */

/* inspiration style part start */

.my-inspiration-part {
    border-radius: 10px;
    margin: -76px 51px;
    padding: 60px 50px;

}

.my-inspiration-header-p h3,p {
    text-align: center;
    width: 70%;
    margin: auto;
} 

.video-part {
    border-radius: 10px;
    margin: 23px 0px;
    padding: 60px 50px;
    border: 3px solid #f9f9f9;
}

iframe {
    border-radius: 10px;
    border: 3px solid #140303;
}

/* inspiration style part end */

.current-target h2 {
    text-align: center;
}

.current-target {
    border-radius: 10px;
    margin: 20px 39px;
    padding: 60px 50px;
   
    
}

.target-description {
    margin: -49px 1px;
    padding: 60px 50px;
}

.current-target>p {
    width: 100%;
    text-align: center;

}

.html-css-javascript {
    display: flex;
}
.html-css-javascript h4 {
    text-align: left;
}

.html-css-javascript p {
    text-align: left;
    margin: 7px 0;
    
    

}

.html-css-javascript p a {
    color: #0d1321;
}

.html {
    background: #fff6f4;
}
.css {
   background: #f2f6fe; 
}

.javaScript {
    background: #fffdf2 ;
}

.common-style {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* footer style start */

.footer-section {
    width: 905px;
    margin: auto;
    background-image: url(../images/handshake.jpg);
    padding: 35px 115px;
    
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer-input {
    width: 50%;
    margin: 20px auto;
    display: flex;
}
.footer-section h4 {
    color: #ffffff;
    text-align: center;
    font-size: 32px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    
}

input[type="submit"] {
    width: 140px;
}

 input[type="text"], input[type="submit"] {
    display: inline-block;
    margin: auto;
    padding: 10px;
    margin-right: 15px;
    border-radius: 10px;
    
 }



